<page-header [title]="'上传更新数据'"></page-header>
<nz-card [nzBordered]="false">
  <div class="my-md">
      <form method="POST" enctype="multipart/form-data">  
        <input type="file" (change)="uploadChange($event)" multiple="false" class="ml-sm" name="excel" id="excel_upload"/>
        <button nz-button (click)="uploadBak()">上传Excel, 更新数据</button>
    </form>
  </div>

  <div>新添加的数据</div>
  <st #st [columns]="columns" [data]="newData" [loading]="loading" 
    [page]="page" [bordered]="true" [ps]="40">
  </st>

  <div>更新的数据</div>
  <st #st [columns]="columns" [data]="updatedData" [loading]="loading" 
    [page]="page" [bordered]="true" [ps]="40">
  </st>
</nz-card>
