<page-header [title]="'候选人信息'">
</page-header>
<nz-card [nzBordered]="true">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se label="Name" error="Input Name" error="Input Name" required>
        <input nz-input formControlName="nickname" placeholder="候选人的名字" [(ngModel)]="data.name">
    </se>
    <se label="Client" optionalHelp="我们在给那个客户寻找候选人" error="Input Client" required>
      <input nz-input formControlName="client" placeholder="客户名称" [(ngModel)]="data.client">
    </se>
    <se label="Openning" error="Input Openning" required>
      <input nz-input formControlName="openning" placeholder="候选人职业方向" [(ngModel)]="data.openning">
    </se>
    <se label="Company">
      <input nz-input formControlName="company" placeholder="候选人目前所在公司, 未来添加历史公司" [(ngModel)]="data.company">
    </se>
    <se label="Title">
      <input nz-input formControlName="title" placeholder="候选人所在公司的职位" [(ngModel)]="data.title">
    </se>
    <se label="Depart">
      <input nz-input formControlName="depart" placeholder="候选人所在公司的部门" [(ngModel)]="data.depart">
    </se>
    <br>
    <se label="Mobile">
      <input nz-input formControlName="mobile" placeholder="候选人手机号码" [(ngModel)]="data.mobile">
    </se>
    <se label="Phone">
      <input nz-input formControlName="phone" placeholder="候选人座机" [(ngModel)]="data.phone">
    </se>
    <se label="Email">
      <input nz-input formControlName="email" placeholder="Email" [(ngModel)]="data.email">
    </se>
    <se label="IM">
      <input nz-input formControlName="im" placeholder="QQ, 微信, facebook, Msn等" [(ngModel)]="data.im">
    </se>

    <se label="City">
      <input nz-input formControlName="city" placeholder="现居城市" [(ngModel)]="data.city">
    </se>
    <se label="Channel">
      <input nz-input formControlName="channel" placeholder="消息来源" [(ngModel)]="data.channel">
    </se>
    <se label="Remark" optionalHelp="随手填写有些的跟踪信息">
      <textarea nz-input formControlName="remark" placeholder="追踪信息" rows=3 [(ngModel)]="data.remark"></textarea>
    </se>
    <se label="Comment" optionalHelp="对该候选人的评价">
      <textarea nz-input formControlName="comment" placeholder="对该候选人的评价" rows=6 [(ngModel)]="data.comment"></textarea>
    </se>
    <se label="Date">
      <nz-date-picker formControlName="date" [(ngModel)]="data.contact_date"></nz-date-picker>
      <button nz-button type="button" class="ml-sm" (click)="clickNow()">今天</button>
    </se>
    <se>
      <button nz-button type="button" class="ml-sm" (click)="back()">返回</button>
      <nav class="text-right">
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">提交</button>
      </nav>
    </se>
  </form>
</nz-card>
